@page "/AdvertisingSetting"
@using RatesMoney.Models
@using RatesMoney.Services


<div class="col-6 mx-auto w-75 mt-5 text-center">
  <EditForm Model="@settings" OnValidSubmit="Submit">
	<DataAnnotationsValidator />
		<div class="flex-column d-flex">
			
				<label>
					Путь к папке с контентом:
				</label>
		<InputText id="FolderPath" @bind-Value="settings.FolderPath" />
			<ValidationMessage For="@(() => settings.FolderPath)" />
			<p class="text-primary mt-2">Текущий путь: @CurrentFolder </p>
		
		</div>
		<div class="flex-column d-flex mt-3">
		<label>
			Login:
		</label>
		
		<InputText id="Login" @bind-Value="settings.Login" />
			<p class="text-primary mt-2">Текущий пользователь: @CurrentLogin</p>
			
	</div>
		<div class="flex-column d-flex mt-3">
		<label>
			Password:
		</label>
		<InputText id="Password" @bind-Value="settings.Password" />
	</div>
	<FormButton type="submit">Сохранить</FormButton>
  </EditForm>
</div>

@code {
	AdvertisingSettings settings = new();
	AdvertisingConfiguration configure = new();

	private string? CurrentFolder { get; set; }
	private string? CurrentLogin { get; set; }

	void Submit()
	{		
		configure.SaveAdvertisingSettings(settings);
		GetAdvertisingData();
	}

	private void GetAdvertisingData()
	{
		var model = configure.GetAdvertisingSettings();

		CurrentFolder = model.FolderPath =="" ? "Не задан" : model.FolderPath;
		CurrentLogin = model.Login == "" ? "Не задан" : model.Login;
	}

	protected override void OnInitialized()
	{
		GetAdvertisingData();
	}
}
