@page "/APIsettings"

<div class="text-center">
	<div class="col-6 mx-auto w-75 mt-5">
        <h2 class="overflow-auto">Путь к API: @ApiPath</h2>
		<p class="mt-2">Введите код рабочего места</p>

		<div class="w-75 mx-auto">
            <input @bind="@ApiPath" class="w-100" type="url" />
            <FormButton OnClickCallback="@SaveApiPath">Сохранить</FormButton>
		</div>
	</div>
</div>

@code {
    private string? ApiPath { get; set; }    

    protected override void OnInitialized()
    {
        GetApiPath();
    }

    private void SaveApiPath()
    {
        Preferences.Default.Set(PreferenceConstants.APIService, ApiPath);
        GetApiPath();
    }

    private void GetApiPath()
    {
        string path = Preferences.Default.Get(PreferenceConstants.APIService, "");
        if (path != "")
        {
            ApiPath = path;            
        }
        else
        {
            ApiPath = "Не задан";
        }
    }
}
