@page "/APIsettings"
@using System.ComponentModel.DataAnnotations
@using RatesMoney.Models
@using RatesMoney.Services


<div class="text-center">
	<div class="col-6 mx-auto w-75 mt-5">
        <h2 class="overflow-auto">Путь к API: @ApiPath</h2>
		<p class="mt-2">Введите Url адрес API</p>
       
        <EditForm Model="@Api" OnValidSubmit="SaveApiPath">
		<div class="w-75 mx-auto">               
                <DataAnnotationsValidator />
                <ValidationSummary />
                  <InputText @bind-Value=Api.ApiPath class="w-100"/>
                <FormButton type="submit">Сохранить</FormButton>
		</div>
        </EditForm>
	</div>
</div>

@code {
    ApiModel Api = new();
    private string? ApiPath { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await GetApiPath();
    }

    private async Task SaveApiPath()
    {
        if (Api.ApiPath != null)
        {
            await AppConfiguration.SetApiSettings(Api);
            await GetApiPath();
        }
    }

    private async Task GetApiPath()
    {
        var model = await AppConfiguration.GetApiSettings();
        if (model.ApiPath != "")
        {
            ApiPath = model.ApiPath;            
        }
        else
        {
            ApiPath = "Не задан";
        }
    }
}
