@page "/WorkplaceSetting"



<div class="text-center">
	<div class="col-6 mx-auto w-75 mt-5">
		<h2 class="overflow-auto">Текущий код: @workplaceCode</h2>
		<p class="mt-2">Введите код рабочего места</p>
		
		<div class="w-75 mx-auto">
            <input @bind="@workplace" name="workplace" id="workplace" class="w-100" type="number" />
            <FormButton OnClickCallback="@SaveWorkplaceCode">Сохранить</FormButton>
		</div>
	</div>
</div>


@code {

    private string? workplaceCode{ get; set; }
    int workplace { get; set; }

    protected override void OnInitialized()
    {
        GetWorkplace();
    }

    private void SaveWorkplaceCode() {
        Preferences.Default.Set(PreferenceConstants.WorkplaceCode, workplace);
        GetWorkplace();
    }

    private void GetWorkplace()
    {
        int code = Preferences.Default.Get(PreferenceConstants.WorkplaceCode, -1);
        if (code != -1)
        {
            workplaceCode = code.ToString();
            workplace = code;
        }
        else
        {
            workplaceCode = "Не задан";
        }
    }   
}
